.auth-container {
  max-width: 400px;
  width: 90%;
  padding: 30px;
  background-color: #403d3d;
  color: #ff4081;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  margin-left: 550px;
  margin-top: 130px;
  
  
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 25px;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.auth-form button {
  background-color:#ff4081;
  color: black;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.auth-form button:hover {
  background-color: #444;
  color: white;
}

.auth-form p {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.auth-form a {
  color: #ff4081;
  font-weight: bold;
}
.auth-form a:hover{
    color: white;
}
